p.welcome , h1 , h2 ,p{
  color:green;
  font-size: 75px;
  font-style: italic;
  font-weight: bolder;
  font-family: fantasy;
  text-align: center;
}
h1{
  font-size: 150px;
}
h2{
  color: cornsilk;
  font-size: 60px;
  font-style: oblique;
  font-family: monospace;
  font-weight: 500;
}
p{
  color:black;
  font-size: 50px;
  font-weight: bolder;
  font-style: normal;
}
.history{
  background-color: teal;
letter-spacing: 2px;
line-height: 90px;
}
.address{
  background-color: burlywood;
}
/*.important{
  color: white;
}*/
img{
  float: right;
}
.welcome{
  color:blue;
  font-style: oblique;

}

/*Navation styling*/
.nav{
  display: -webkit-flex;
  /*-webkit-flex-direction: column;*/
  -webkit-flex-direction: row;
  /*-webkit-justify-content: space-between;
    -webkit-justify-content: flex-end;*/
      -webkit-justify-content: center;
}
ul{
  list-style-type: none;
  font-size: 50px;
  /*overflow: hidden;*/

}
ul li{
padding:5px 20px;
/*float:left;*/
display: inline-block;
background: green;
}
li a {
    /*display: block;*/
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
